/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  /* color: #fff; */
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fae48d;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #333;
}

.cover-container {
  max-width: 62em;
}

.cover-heading {
  color: #c08457;
  font-size: 1.75rem;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.contact-form {
  color: #333;
  text-shadow: none;
  position: inherit;
}

.contact-form form {
  background: linear-gradient(to top, rgba(255, 0, 0, 0) 10%, #fff 50%, #fff);
  border-radius: 0.25rem;
  padding: 1.5rem;
}

.card .card-title .fas {
  font-size: 48px;
}

#recaptcha {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media only screen and (max-width: 540px) {
  #recaptcha {
    position: static;
  }
}
